@use '@/styles/mixins';

.page-content {
  view-transition-name: page-content;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}