
:root {
  --tg-theme-button-color: red;
}

body.tg-theme-applied {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

// Utility classes for Telegram theme
.tg-bg {
  background: var(--tg-theme-bg-color);
}

.tg-secondary-bg {
  background: var(--tg-theme-secondary-bg-color);
}

.tg-text {
  color: var(--tg-theme-text-color);
}

.tg-hint-text {
  color: var(--tg-theme-hint-color);
}

.tg-link {
  color: var(--tg-theme-link-color);
}

.tg-button-color {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
