@use '@/styles/variables';
@use '@/styles/page-layout';

.send {
  // Использует глобальный класс .page-container через clsx в компоненте
}

.title {
  @include page-layout.page-title;
}

.form {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-md;
  max-width: 620px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.card {
  @include page-layout.page-card;
}

.field {
  @include page-layout.page-field;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  @include page-layout.page-label;
}

.balance {
  font-size: variables.$font-size-sm;
  color: variables.$text-secondary;
  font-weight: variables.$font-weight-medium;
}

.input {
  @include page-layout.page-input;

  &[type='number'] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.amount-input {
  position: relative;
  display: flex;
  align-items: center;
}

.currency {
  position: absolute;
  right: variables.$spacing-md;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-semibold;
  color: variables.$text-secondary;
  pointer-events: none;
}

.error {
  @include page-layout.page-error;
}

.hint {
  margin: variables.$spacing-sm 0 0 0;
  font-size: variables.$font-size-sm;
  color: variables.$text-secondary;
  text-align: center;
  line-height: 1.5;
  max-width: 620px;
  width: 100%;
  z-index: 1;
  position: relative;
}
